.property-main { margin-bottom: 30px; margin-top: 100px; }

.property-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}

.property-grid .showcase {
  border: 1px solid var(--cultured);
  border-radius: var(--border-radius-md);
  overflow: hidden;
  transition: var(--transition-timing);
}

.property-grid .showcase:hover { box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1); }

.property-grid .showcase-banner { position: relative; }

.property-grid .property-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition-timing);
  height: 190px;
}

.property-grid .property-img.default {
  position: relative;
  z-index: 1;
}

.property-grid .property-img.hover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
}

.property-grid .showcase:hover .property-img.hover { opacity: 1; }

.property-grid .showcase:hover .property-img.default { opacity: 0; }

.property-grid .showcase:hover .property-img { transform: scale(1.1); }

.property-grid .showcase-badge {
  position: absolute;
  top: 15px;
  left: 15px;
  background: var(--ocean-green);
  font-size: var(--fs-8);
  font-weight: var(--weight-500);
  color: var(--white);
  padding: 0 8px;
  border-radius: var(--border-radius-sm);
  z-index: 3;
}

.property-grid .showcase-badge.angle {
  top: 8px;
  left: -29px;
  transform: rotate(-45deg);
  text-transform: uppercase;
  font-size: 11px;
  padding: 5px 40px;
}

.property-grid .showcase-badge.black { background: var(--eerie-black); }

.property-grid .showcase-badge.purple { background: var(--purple); }

.property-grid .showcase-actions {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  transform: translateX(50px);
  transition: var(--transition-timing);
  z-index: 3;
}

.property-grid .showcase:hover .showcase-actions { transform: translateX(0); }

.property-grid .btn-action {
  background: var(--white);
  color: var(--purple);
  margin-bottom: 5px;
  border: 1px solid var(--cultured);
  padding: 5px;
  border-radius: var(--border-radius-sm);
  transition: var(--transition-timing);
}

.property-grid .btn-action:hover {
  background: var(--purple);
  color: var(--white);
  /* border-color: var(--eerie-black); */
}

.property-grid .showcase-content { padding: 15px 20px 0; }

.property-grid .showcase-category {
  color: var(--purple);
  font-size: var(--fs-9);
  font-weight: var(--weight-500);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.property-grid .showcase-title {
  color: var(--eerie-black);
  font-size: var(--fs-5);
  font-weight: var(--weight-400);
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 10px;
  transition: var(--transition-timing);
}

.property-grid .showcase-title:hover { color: var(--eerie-black); }

.property-grid .showcase-location {
  display: flex;
  color: var(--sonic-silver);
  margin-bottom: 10px;
  font-size: var(--fs-8);
}

.property-grid .price-box {
  display: flex;
  gap: 10px;
  font-size: var(--fs-7);
  color: var(--purple);
  margin-bottom: 10px;
}
.property-grid .features{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--cultured);
  font-size: var(--fs-7);
  color: var(--sonic-silver);
  padding: 10px 0;
}
.property-grid .price { font-weight: var(--weight-700); }

.property-grid del { color: var(--sonic-silver); }

.loading-style{
  text-align: center;
  padding: 30px;
}

.black{ background: var(--eerie-black);}
.pink{ background: var(--purple);}

@media (min-width: 480px) {
  .property-grid {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
@media (min-width: 1024px) {
  .property-grid { grid-template-columns: repeat(3, 1fr); }
}
@media (min-width: 1200px) {
  .property-grid { grid-template-columns: repeat(4, 1fr); }
}